@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'Cairo', ui-sans-serif, system-ui;
}

:root {
  --background: #ffffff;
  --foreground: #2d55ac;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  direction: rtl;
}